<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Guilherme Teixeira, it uses data from mapbox.com and weatherstack.com. It was a website created from a NodeJS course that I took and created.</p>
            <img src="/img/me.jpeg" class="portrait">
        </div>
        
        {{>footer}}
    </body>
</html>